@import '../../App.scss';

.Category {
  padding: 16px;
  border: 2px solid $dark-color;
  border-radius: 6px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $green;
    cursor: pointer;
  }
}