@import "../App.scss";

.FooterContainer {
  padding: 38px 80px 28px 80px;

  .FooterCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    place-items: center;
  }
}

// @media (min-width: 600px) {
//   .FooterCards {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (min-width: 900px) {
//   .cards {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
