@import '../App.scss';

.JobCategoriesContainer {
  margin-top: 60px;

  .JobCategoriesIntro {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    align-items: center;
    text-align: center;
    max-width: 390px;
  }
}

.JobCategories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 16px;
  place-items: center;
}