@import "../App.scss";

.NavContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 50px 24px 50px;
  align-items: center;
  background-color: $sand;

  @mixin NavItems {
    display: flex;
    list-style-type: none;
    font-weight: 900;
    align-items: center;
    cursor: pointer;
  }

  .NavIcon {
    @include NavItems;
    gap: 16px;
  }

  .NavLinks {
    @include NavItems;
    gap: 38px;

    a {
      transition: all 0.2s ease-in-out;

      &:hover {
        filter: brightness(3);
      }
    }
  }
}
