@import "../../App.scss";

.FooterContainer {
  padding: 56px 80px 28px 80px;
  background-color: $dark-color;

  .FooterCards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 16px;

    .FooterCard {
      display: flex;
      flex-direction: column;

      h3 {
        color: $white !important;
      }

      .FooterLabel {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .CompanyLogo {
        height: 34px;
        width: 180px;
        margin-bottom: 22px;
      }
      button {
        margin-top: 22px;
        max-width: 36px;
        padding: 22px 24px;
      }
      .FooterLinks {
        text-decoration: none;
        color: $white;
        font-size: 16px;
      }
    }
  }
  .Separator {
    height: 1px;
    width: 100%;
    background-color: #425a56;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .FooterLegal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: $white !important;
    }
    .Legal {
      display: flex;
      align-items: center;
      a {
        padding-left: 24px;
        padding-right: 24px;
        text-decoration: none;
        color: $white;
      }
      a:nth-of-type(2) {
        border-left: solid 1px $white;
        border-right: solid 1px $white;
        color: $green;
      }
    }
  }
}

@media (max-width: 600px) {
  .FooterCards {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .FooterCards {
    flex-direction: column;
  }
}
