@import "../../App.scss";

.HeroContainer {
  margin: 0 auto;
  padding: 42px 0 42px 0;
  background-color: $sand;
  margin-top: 120px;
  .HeroText {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .BestMove {
      height: 42px;
    }
  }
  .HeroText,
  .HeroSubText {
    text-align: center;
    h1 {
      margin: 0 !important;
    }
  }
}
