@import "../../App.scss";

.SearchInputContainer {
  padding: 8px;
  border: 1px solid $light-color;
  max-width: 442px;
  border-radius: 6px;
  margin: 32px auto;
  background-color: $white;
  box-shadow: 1px 16px 28px 12px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 16px 28px 12px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 16px 28px 12px rgba(0, 0, 0, 0.11);
  .SearchInputItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    .SearchInputItem {
      .Input {
        border-color: $white !important;
        border-style: none;
        height: 38px;
        width: 100%;
        font-size: 16px;
        outline: none;
        &:focus {
          border-color: $white !important;
        }
      }
    }
  }
}
